### Turtle Graphics

In [ ]:
# spiral star
import turtle as t
a1=t.Turtle()
a1.pencolor('red')
for i in range(40):
    a1.forward(i * 10)
    a1.left(144)
t.done()

In [ ]:
# spiral square
import turtle as t
a1=t.Turtle()
for i in range(100):
    a1.forward(i)
    a1.left(91)
a1.done()

In [ ]:
# spiral hexagon
from turtle import *
pencolor('violet')
colors=['violet','blue','yellow','green','red','orange']
for i in range(360):
    pencolor(colors[i%6])
    width(i/100+1)
    forward(i)
    left(59)

In [ ]:
# design circle
from turtle import *
pensize(5)
pencolor('red')
fillcolor('yellow')
begin_fill()
circle(100)
end_fill()

In [ ]:
# tangent circle
from turtle import *
pensize(5)
pencolor('red')
for i in range (20):
    circle(10*i)

In [ ]:
# spiral circle
from turtle import *
pensize(2)
pencolor('red')
for i in range (100):
    circle(5+i,45)

In [ ]:
# Design circles
from turtle import *
pensize(2)
pencolor('red')
for i in range (10):
    circle(5*i)
    up()
    sety((5*i)*(-1))
    down()

In [ ]:
# Olympic games logo
from turtle import *
pensize(6)
r1=['blue','black','red']
for i in range(3):
    penup()
    pencolor(r1[i%3])
    goto(i*100,0)
    pendown()
    circle(45)
r2=['','yellow','','green']
for i in range(1,4,2):
    penup()
    pencolor(r2[i])
    goto(i*55,-55)
    pendown()
    circle(50)

In [ ]:
# Audi logo
from turtle import *
pensize(6)
pencolor('black')
for i in range(4):
    penup()
    goto(i*70,0)
    pendown()
    circle(50)

### Idomatic Python
    - Transforamtion of code into Beautiful, Idiomatic Python
    - Replaces traditional Index manupilation with Python code looping idioms

In [5]:
# looping over a range of number
for i in [0,1,2,3,4,5]:
    print(i ** 2,end=' ')
print()
#Pythonic way
for i in range(6):
    print(i**2,end=' ')

0 1 4 9 16 25
0 1 4 9 16 25

In [9]:
li=[1,2,3,4,5]
for i in range (len(li)):
    print(li[i],end=' ')
print()
# Pythonic way
for i in li:
    print(i,end=' ')

1 2 3 4 5
1 2 3 4 5

In [15]:
li=[1,2,3,4,5]
for i in range(len(li)-1,-1,-1):
    print(li[i],end=' ')
print()
# pythonic way
for i in reversed(li):
    print(i,end=' ')

5 4 3 2 1
5 4 3 2 1

In [20]:
li=[1,2,3,4]
for i in range(len(li)):
    print(i,'-->',li[i])
print()
#pythonic way
for i,a in enumerate(li):
    print(i,'-->',a)

0 --> 1
1 --> 2
2 --> 3
3 --> 4

0 --> 1
1 --> 2
2 --> 3
3 --> 4

In [22]:
li=[1,2,3,4]
a=[1,2,3,4,5,6,7]
n=min(len(li),len(a))
for i in range(n):
    print(li[i],' ',a[i])
print()
# pythonic way
for i,a in zip(li,a):
    print(i,' ',a)

1   1
2   2
3   3
4   4

1   1
2   2
3   3
4   4

In [25]:
li=[0,1,21,25,6,34]
for i in sorted(li):
    print(i,end=' ')
print()
for i in sorted(li,reverse=True):
    print(i,end=' ')

0 1 6 21 25 34
34 25 21 6 1 0

In [107]:
# dictionary
d={'name':'gowtham','nickname':'sugar','disease':'diabetis'}
for k in d.values():
    print(k,end=' ')
print()

gowtham sugar diabetis

In [30]:
for k in d.keys():
    if k.startswith('d'):
        del d[k]

In [31]:
print(d)

{'name': 'groot', 'nickname': 'sugar'}

In [32]:
for k in d.values():
    print(k,end=' ')

groot sugar

### List Comprehensions

In [43]:
li=[]
for i in range(10):
    a=i**2
    li.append(a)

print(sum(li))
print()
# pythonic way
print(sum(i**2 for i in range(10)))

285

285

In [44]:
li=[]
for i in range(10):
    li.append(i**2)
print(li)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [45]:
com_list=[i**2 for i in range(10)]
print(com_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [46]:
for i in  li:
    if i%2==0:
        print(i,end=' ')

0 4 16 36 64

### lambda Functions
    - Ananymous function means that a function is without a name
    - any lambda funtion of python will be defined with lambda
    - syntax lambda arg:expression

In [63]:
a=lambda x:x*x
print(a(10))

100

In [64]:
a=lambda x,y:x*y
print(a(10,10))

100

### Use of lambda with filter

In [48]:
def filterlist(li):
    a=[]
    for i in li:
        if i%2==0:
            a.append(i)
    return a
li=[1,2,3,4,5,6,7,8]
print(filterlist(li))

[2, 4, 6, 8]

In [52]:
# lambda with filter mode
li=[1,2,3,4,5,6,7,8]
lam_li=list(filter(lambda x: (x%2==0),li))
print(lam_li)

[2, 4, 6, 8]

### lambda with map()
    - map() function in python takes in a function and list as argument

In [54]:
def squarelist(li):
    a=[]
    for i in li:
        a.append(i*2)
    return a
li=[1,2,3,4,5,6,7,8]
print(squarelist(li))

[2, 4, 6, 8, 10, 12, 14, 16]

In [55]:
# lambda with map
li=[1,2,3,4,5,6,7,8]
map_list=list(map(lambda x:x*2,li))
print(map_list)

[2, 4, 6, 8, 10, 12, 14, 16]

### lambda with reduce()

In [61]:
def sumlist(li):
    s=0
    for i in li:
        s=s+i
    return s
li=[1,2,3,4,5,6]
print(sumlist(li))

21

In [62]:
from functools import reduce
li=[1,2,3,4,5,6]
s=reduce((lambda x,y:x+y),li)
print(s)

21

## Standard Package
### Pandas, Numpy and Matplotib

## Pandas 
### Use cases
    - Data cleaning
    - Data transformation
    - Data analysis
### Notations
    - Series
        - a Series is a one-dimensional object that can hold int , float and long
    - Data Frames
        - a DataFrame is a two-dimensional object

In [82]:
import pandas as pd
internal1={'s1':30,'s2':28,'s3':30}
internal2={'s1':21,'s2':25,'s3':27}
internal1=pd.Series(internal1)
internal2=pd.Series(internal2)
print(internal1)
print(internal2)

s1    30
s2    28
s3    30
dtype: int64
s1    21
s2    25
s3    27
dtype: int64

In [83]:
final={'internal1':internal1,'internal2':internal2}
final=pd.DataFrame(final)
print(final)
print(type(final))

    internal1  internal2
s1         30         21
s2         28         25
s3         30         27
<class 'pandas.core.frame.DataFrame'>

In [85]:
print(final.columns)

Index(['internal1', 'internal2'], dtype='object')

In [95]:
print(final.values[0])

[30 21]

In [102]:
final.values[2][0]=23

In [108]:
print(final.values)

[[30 21]
 [28 25]
 [23 27]]

In [110]:
final.loc['s3']=[28,30]
print(final)

    internal1  internal2
s1         30         21
s2         28         25
s3         28         30

In [122]:
pwd

'C:\\Users\\lokesh\\Desktop\\Python programs'

In [125]:
filepath='Income.csv'
def readcsvdata(filepaath):
    return pd.read_csv(filepath)
readcsvdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [135]:
filepath='Income.csv'
def readcsvdata(filepaath):
    return pd.read_csv(filepath)
df=readcsvdata(filepath)
print(df)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  62993  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [142]:
for row in df.values:
    print(row[1],' : ',row[4])

Alabama  :  42212
Alaska  :  62993
Arizona  :  62993
Arkansas  :  40795
California  :  55734

In [137]:
print(df.values)

[['04000US01' 'Alabama' 37150 37952 42212 44476 39980 40933 42590 43464
  41381]
 ['04000US02' 'Alaska' 55891 56418 62993 63989 61604 57848 57431 63648
  61137]
 ['04000US04' 'Arizona' 45245 46657 62993 46914 45739 46896 48621 47044
  50602]
 ['04000US05' 'Arkansas' 36658 37057 40795 39586 36538 38587 41302 39018
  39919]
 ['04000US06' 'California' 51755 55319 55734 57014 56134 54283 53367
  57020 57528]]

In [144]:
def avgofstate():
    s=0
    for i in range(2,11):
        s+=df.values[4][i]
    return s//len(df.values[4][2:])
print(avgofstate())

55350

In [149]:
filepath='RegularSeasonCompactResults.csv'
def readcsvdata(filepath):
    return pd.read_csv(filepath)
readcsvdata(filepath)

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
5         1985      25   1218      79   1337      78    H      0
6         1985      25   1228      64   1226      44    N      0
7         1985      25   1242      58   1268      56    N      0
8         1985      25   1260      98   1133      80    H      0
9         1985      25   1305      97   1424      89    H      0
10        1985      25   1307     103   1288      71    H      0
11        1985      25   1344      75   1438      71    N      0
12        1985      25   1374      91   1411      72    H      0
13        1985      25   1412      70   1397      65    N      0
14        1985      25   1417      87   1225      58    H      0
15        1985      26   1116      65   1368      62    H      0
16        1985      26   1120      92   1391      50    H      0
17        1985      26   1135      65   1306      60    A      0
18        1985      26   1143      58   1388      53    H      0
19        1985      26   1153      50   1184      48    H      0
20        1985      26   1165      47   1159      40    A      0
21        1985      26   1171      55   1216      52    H      0
22        1985      26   1173      76   1134      56    H      0
23        1985      26   1177      59   1296      58    H      0
24        1985      26   1193      79   1265      76    A      0
25        1985      26   1196     106   1416      55    H      0
26        1985      26   1206      95   1137      77    H      0
27        1985      26   1210      79   1149      66    H      0
28        1985      26   1211      64   1102      59    A      0
29        1985      26   1234      76   1114      47    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145259    2016     130   1452      69   1328      67    N      0
145260    2016     131   1114      72   1418      65    N      0
145261    2016     131   1138      64   1103      61    N      0
145262    2016     131   1163      77   1396      62    N      0
145263    2016     131   1167      57   1308      54    N      0
145264    2016     131   1201      68   1361      63    N      0
145265    2016     131   1214      81   1354      69    N      0
145266    2016     131   1218      64   1253      60    N      0
145267    2016     131   1242      81   1452      71    N      0
145268    2016     131   1246      93   1208      80    N      0
145269    2016     131   1272      74   1408      54    N      0
145270    2016     131   1277      64   1268      61    N      0
145271    2016     131   1292      55   1330      53    N      0
145272    2016     131   1314      61   1438      57    N      0
145273    2016     131   1332      88   1428      57    N      0
145274    2016     131   1345      76   1276      59    N      0
145275    2016     131   1371      69   1437      67    N      0
145276    2016     131   1372      82   1394      60    N      0
145277    2016     131   1380      54   1238      53    N      0
145278    2016     131   1386      82   1173      79    N      0
145279    2016     131   1392      80   1436      74    H      0
145280    2016     131   1401      71   1261      38    N      0
145281    2016     131   1419      82   1426      71    N      0
145282    2016     131   1433      76   1172      54    N      0
145283    2016     131   1451      62   1285      59    N      0
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

In [164]:
print(df.describe())

               2005          2006          2007          2008         2009  \
count      5.000000      5.000000      5.000000      5.000000      5.00000
mean   45339.800000  46680.600000  52945.400000  50395.800000  47999.00000
std     8586.880615   9195.672966  10868.796129   9906.997487  10630.62477
min    36658.000000  37057.000000  40795.000000  39586.000000  36538.00000
25%    37150.000000  37952.000000  42212.000000  44476.000000  39980.00000
50%    45245.000000  46657.000000  55734.000000  46914.000000  45739.00000
75%    51755.000000  55319.000000  62993.000000  57014.000000  56134.00000
max    55891.000000  56418.000000  62993.000000  63989.000000  61604.00000

               2010          2011          2012          2013
count      5.000000      5.000000      5.000000      5.000000
mean   47709.400000  48662.200000  50038.800000  50113.400000
std     8303.656201   6893.345538  10094.581873   9446.102122
min    38587.000000  41302.000000  39018.000000  39919.000000
25%    40933.000000  42590.000000  43464.000000  41381.000000
50%    46896.000000  48621.000000  47044.000000  50602.000000
75%    54283.000000  53367.000000  57020.000000  57528.000000
max    57848.000000  57431.000000  63648.000000  61137.000000

In [162]:
print(df.max())

GEOID     04000US06
State    California
2005          55891
2006          56418
2007          62993
2008          63989
2009          61604
2010          57848
2011          57431
2012          63648
2013          61137
dtype: object

In [161]:
print(df.min())

GEOID    04000US01
State      Alabama
2005         36658
2006         37057
2007         40795
2008         39586
2009         36538
2010         38587
2011         41302
2012         39018
2013         39919
dtype: object